<template name="footer">
  <footer class="footer">
    <div class="row">
      <div class="col-sm-3 col-sm-offset-2">
        <h4>Quick Links</h4>
        <ul class="unstyled-list-bullet">
          <li><a href="/" id="home">Home</a></li>
          <li><a href="/about" id="about">About</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-4 col-md-offset-1 legal-links in-column-buffer">
        This app is for educational purposes only.<br>
        Algorithm belongs to University of Edinburgh.
        <!-- <div>
          <img src="/BHF-logo.png" class="footer-logos"/>
          <img src="/High-STEACS-acc.png" class="footer-logos"/>
        </div> -->
      </div>
    </div>
    <div class="container">
      <hr class="hr--small">
    </div>
    <div class="row">
      <div class="col-sm-12 text-center legal-links">
        Code © 2017 <a class="footer-link" href="https://www.linkedin.com/in/michael-barry-a5660276" target='_blank'>Dr Michael Barry</a> | Built using Meteor JS &amp; Bootstrap
      </div>
    </div>
  </footer>
</template>
