<template name="Navbar">
  <!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="img-responsive navbar-logo" src="/scotheart-grey.png" />
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{{ isActive 'calculator' }}"><a href="/" data-toggle="collapse" data-target=".navbar-collapse">Scotheart</a></li>
            <li class="{{ isActive 'about' }}"><a href="/about" id="about" data-toggle="collapse" data-target=".navbar-collapse">About</a></li>
            <!-- <li><a href="/contact">Contact</a></li> -->
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Info <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/terms-conditions" data-toggle="collapse" data-target=".navbar-collapse">Terms &amp; Conditions</a></li>
                <li><a href="/privacy-policy" data-toggle="collapse" data-target=".navbar-collapse">Privacy Policy</a></li>
              </ul>
            </li>
            <li class="{{ isActive 'contact' }}"><a href="/contact" id="contact" data-toggle="collapse" data-target=".navbar-collapse">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {{#if currentUser}}
              <li><a href="/cases" class="{{ isActive 'my-cases' }}">My Cases</a></li>
              <!-- <li><a href="#" class="{{ isActive 'my-account' }}" id="my-account">My Account</a></li> -->
              <li><a href="#" id="logout">Log Out</a></li>
            {{else}}
              <li class="{{ isActive 'login' }}"><a href="/login" id="login">Log In</a></li>
              <!-- <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li> -->
              <li class="{{ isActive 'signup' }}"><a href="/signup" id="signup">Sign Up</a></li>
            {{/if}}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
</template>
